// Icomoon
@font-face {
    font-family: "icomoon";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src:
        url("https://cdn.icomoon.io/42560/CostaRica/icomoon.woff2?yfxvht")
            format("woff2"),
        url("https://cdn.icomoon.io/42560/CostaRica/icomoon.woff?yfxvht")
            format("woff");
}

// Icon include
@mixin fonticonSetup($elem: before) {
    position: relative;
    &:#{$elem} {
        @include transitions();
        position: absolute;
        font-family: "icomoon" !important;
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: block;
        text-decoration: none;
        text-align: center;
        text-rendering: optimizeLegibility;
        z-index: 2;
    }
}

@mixin fonticon(
    $content: "",
    $icon-size: $icon-size,
    $color: inherit,
    $top: "",
    $left: "",
    $right: "",
    $bottom: "",
    $center: false,
    $middle: false,
    $elem: before
) {
    --icon-size: #{$icon-size};
    &:#{$elem} {
        content: $content;
        color: $color;
        font-size: var(--icon-size);
        width: var(--icon-size);
        height: var(--icon-size);
        line-height: var(--icon-size);
        @if $top != "" and $top != "auto" {
            top: $top;
        }
        @if $left != "" and $left != "auto" {
            left: $left;
        }
        @if $right != "" and $right != "auto" {
            right: $right;
        }
        @if $bottom != "" and $bottom != "auto" {
            bottom: $bottom;
        }
        @if $center and $middle {
            transform: translate(-50%, -50%);
        } @else {
            @if $center {
                transform: translateX(-50%);
            }
            @if $middle {
                transform: translateY(-50%);
            }
        }
    }
}
