// Display
// -----------------------------------
.visually-hidden {
    @include visuallyHidden();
}

.reset {
    @include reset();

    ul {
        @include reset();
    }
}

.cover {
    @include cover();
}

.center {
    &-horizontal {
        @include horizontalCenter();
    }

    &-absolute {
        @include absoluteCenter();
    }
}

.outline-offset {
    outline-offset: $outline-offset;
}

.pseudo {
    &-before {
        position: relative;

        &:before {
            @include pseudo();
            @include transitions();
        }
    }

    &-after {
        position: relative;

        &:after {
            @include pseudo();
            @include transitions();
        }
    }
}

.overflow {
    &-hidden {
        overflow: hidden;
    }
}

.d {
    &-none {
        display: none;
    }

    &-block {
        display: block;
    }

    &-flex {
        display: flex;
    }

    &-grid {
        display: grid;
    }
}

.hide {
    &-phone {
        @include breakpoint($bp--phone) {
            display: none;
        }
    }
}

.pos {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.z-index {
    &-1 {
        z-index: 1;
    }
    &-10 {
        z-index: 10;
    }
    &-20 {
        z-index: 20;
    }
    &-30 {
        z-index: 30;
    }
    &-40 {
        z-index: 40;
    }
}

.opacity {
    &-0 {
        opacity: 0;
    }
}

.hide {
    &-large-layout {
        @include breakpoint($bp--large-layout) {
            display: none !important;
        }
    }
}

.w {
    &-100 {
        width: 100%;
    }
}
.h {
    &-100 {
        height: 100%;
    }
    &-100vh-header {
        height: calc(100dvh - var(--header-height));
    }
}

.top {
    &-header {
        top: calc(var(--header-height) - 1px);
    }
}

// Flex / Grid
// -----------------------------------
.jc {
    &-space-between {
        justify-content: space-between;
    }
    &-space-around {
        justify-content: space-around;
    }
    &-flex-end {
        justify-content: flex-end;
    }
    &-center {
        justify-content: center;
    }
    &-start {
        justify-content: flex-start !important;
    }
}

.ai {
    &-flex-start {
        align-items: flex-start;
    }

    &-baseline {
        align-items: baseline;
    }

    &-center {
        align-items: center;
    }

    &-flex-end {
        align-items: flex-end;
    }
}

.visibility-hidden {
    visibility: hidden;
}

.flex {
    &-direction {
        &-column {
            flex-direction: column;
        }
    }

    &-wrap {
        &-wrap {
            flex-wrap: wrap;
        }
    }
}

// Fonts/Text
// -----------------------------------
.lh {
    &-1 {
        line-height: 1;
    }
}

.f {
    &-icon {
        @include fonticonSetup();
        &-after {
            @include fonticonSetup(after);
        }
    }

    &-heading {
        font-family: $font-heading;
    }

    &-regular {
        font-family: $font-regular;
    }

    &-w {
        &-bold {
            font-weight: 600;
        }
    }
}

.t {
    &-align {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
    }

    &-c {
        &-text {
            color: var(--c-text) !important;
        }
        &-light {
            color: var(--c-text-light) !important;
        }
        &-green {
            color: var(--c-text-green);
        }
        &-black {
            color: var(--c-text-dark) !important;
        }
        &-red {
            color: var(--c-bg-red) !important;
        }
    }

    &-t {
        &-none {
            text-transform: none;
        }
        &-lowercase {
            text-transform: lowercase;
        }
        &-uppercase {
            text-transform: uppercase;
        }
    }

    &-micetype {
        @include micetype();
    }
    &-label {
        @include label();
    }
    &-small {
        @include small-text();
    }
    &-large {
        @include large-text();
    }
}

// Margins / Padding
// -----------------------------------
.p {
    &-0 {
        padding: 0 !important;
    }
    &-t {
        &-0 {
            padding-top: 0 !important;
        }
    }
    &-b {
        &-0 {
            padding-bottom: 0 !important;
        }
    }
}

.m {
    &-0 {
        margin: 0 !important;
    }
    &-t {
        &-0 {
            margin-top: 0 !important;
        }
        &-row {
            margin-top: var(--row-spacing-half) !important;
        }
    }
    &-b {
        &-0 {
            margin-bottom: 0 !important;
        }
    }
}

// Backgrounds
// -----------------------------------
.bg {
    &--none {
        background: none;
    }
    &--background {
        background: var(--c-background);
    }
    &--sand {
        background: var(--c-bg-sand);
    }
    &--yellow {
        background: var(--c-bg-yellow);
    }
    &--black {
        background: var(--c-bg-black);

        *,
        .btn-arrow {
            color: var(--c-text-light);
        }

        h2 {
            color: var(--c-text-green);
        }
    }
}

// Border
// -----------------------------------
.border {
    &-none {
        border: none;
    }
    &-outline {
        border: 1px solid var(--c-border);
    }
}

// Border radius
// -----------------------------------
.border-radius {
    &--img {
        border-radius: 1.6rem;
    }
    &--0 {
        &,
        img {
            border-radius: 0 !important;
        }
    }
}
